@import 'tailwindcss';

@theme {
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-xs: 480px;

  --color-mcgill-red: #ed1b2f;
}

@variant dark (&:where(.dark, .dark *));

.styled-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
  border-radius: 20px;
  border: transparent;
}

.styled-scrollbar::-webkit-scrollbar:horizontal {
  display: none;
}
